---
import ContentLayout from "../../layouts/ContentLayout.astro";


---

<ContentLayout title="About">
	<div class="max-w-screen-xl mx-auto">
		<h1 class="text-8xl font-extrabold">Community</h1>
	</div>
	<div class="hero bg-accent w-full pb-12">
		<div class="hero-content flex flex-col items-start max-w-screen-xl w-full">
			<h2 class="text-accent-content border-b-[16px] w-max border-b-neutral-content">Why</h2>
			<p>I developed META in my freetime because i felt like the existing documentation and tools to help with compiler design and language development were too complicated to use for fun and were lacking an easy entry step. In trying to fix that i came across <a href="https://dl.acm.org/doi/10.1145/800257.808896">META-II</a>, a Metacompiler written by Val Schorre in the early 60s. The idea was to have a language made for writing compilers where it was easy to define input and output flow. So i copied that design and built upon it - however - the further i got the less it had to do with the original META-II.</p>
		</div>
	</div>
	<div class="hero bg-base-100 w-full pb-12">
		<div class="hero-content flex flex-col items-start max-w-screen-xl w-full">
			<h2 class="text-accent-content border-b-[16px] w-max border-b-neutral-content">Who</h2>
			<p>Well... Me...</p>
		</div>
	</div>
</ContentLayout>