---
import Layout from "#layouts/Layout.astro";


---

<Layout title="Oops! That page doesn't exist.">
	<div class="max-w-screen-xl mx-auto text-center py-24">
		<h1 class="text-[172px] my-4">404</h1>
		<p>Looks like that page doesn't exist... Maybe it was removed or never existed in the first place. <br> Anyway... Let's get you back <a href="/">home</a>.</p>
	</div>
</Layout>